section#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../../images/portfolio-view-large.webp") no-repeat center center/cover;

    .MuiButton-root {
        color: white;
        border-color: white;

        &:hover {
            color: skyblue;
            border-color: skyblue;
        }
    }

    .send-icon {
        margin-left: 5px;
        font-size: 1rem;
    }

    .MuiFormControl-root {
        width: 100%;
    }

    .contact-icon {
        margin-right: 0.5vw;
    }

    .division {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        max-width: 80%;
        width: 50%;
    }

    .link-icons {
        padding-top: 0.5vw;
        & > * {
            color: white;
            margin-right: 0.5vw;
            &:hover {
                &:nth-child(1) {
                    color: rgb(56, 125, 255);
                }
                &:nth-child(2) {
                    color: rgb(193, 53, 132);
                }
                &:nth-child(3) {
                    color: rgb(56, 155, 255);
                }
                &:nth-child(4) {
                    color: rgb(255, 0, 0);
                }
            }
        }
    }

    .my-info {
        display: flex;

        &__items {
            justify-items: center;

            &--title {
                text-align: initial;
                margin-bottom: 72px;
            }

            &--content {
                max-width: 80%;
                width: fit-content;
                &--email {
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 8px;
                    margin-bottom: 16px;
                }

                &--phone {
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 16px;
                }

                &--location {
                    justify-content: flex-start;
                    display: flex;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    section#contacts {
        .my-info {
            align-items: flex-end;
            margin-top: 8vw;

            &__items {
                &--title {
                    text-align: center;
                    margin-bottom: 4vw;
                }
                &--content {
                    &--email {
                        justify-content: center;
                    }

                    &--phone {
                        justify-content: center;
                    }

                    &--location {
                        justify-content: center;
                    }
                }
            }
        }

        .division {
            width: 50vw;
        }
    }
}
