section#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    // Photo by Bench Accounting on Unsplash
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
        url("../../images/table.webp") no-repeat center center/cover;

    .MuiButton-root {
        color: white;
        border-color: white;

        &:hover {
            color: skyblue;
            border-color: skyblue;
        }
    }

    .grid-container {
        align-content: baseline;
    }

    .title {
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        margin-bottom: 3rem;
    }

    .send-icon {
        margin-left: 5px;
        font-size: 1rem;
    }

    .MuiFormControl-root {
        width: 100%;
    }

    .contact-icon {
        vertical-align: sub;
    }

    .division {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        min-width: 300px;
        width: 45%;
    }

    .link-icons {
        padding-top: 0.5vw;
        & > * {
            color: white;
            margin-right: 0.5vw;
            &:hover {
                &:nth-child(1) {
                    color: rgb(56, 125, 255);
                }
                &:nth-child(2) {
                    color: rgb(193, 53, 132);
                }
                &:nth-child(3) {
                    color: rgb(56, 155, 255);
                }
                &:nth-child(4) {
                    color: rgb(255, 0, 0);
                }
            }
        }
    }

    .my-info {
        display: flex;

        &__items {
            justify-items: center;

            &--title {
                text-align: initial;
                margin-bottom: 72px;
            }

            &--content {
                max-width: 80%;
                width: fit-content;
                &--text {
                    margin-top: 8px;
                    margin-bottom: 16px;
                    color: white;
                    letter-spacing: 1px;
                    text-align: center;
                }
            }
        }

        &__contact-info {
            box-sizing: border-box;
            border: 1px solid #ebebeb;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.1);
            position: relative;
            padding: 50px 10px 40px;
            width: 18rem;
            height: 11rem;
            margin-bottom: 2rem;
            box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: end;
            justify-content: center;

            &#email {
                margin-bottom: 4rem;
            }

            &--icon {
                border: 1px solid #ebebeb;
                width: 60px;
                height: 60px;
                color: red;
                line-height: 63px;
                text-align: center;
                border-radius: 100%;
                background: white;
                font-size: 28px;
                position: absolute;
                top: -31px;
                left: 110px;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    section#contacts {
        .form-container {
            height: auto;
        }

        .my-info {
            align-items: flex-end;
            margin-top: 0vw;

            &__items {
                &--title {
                    text-align: center;
                    margin-bottom: 4vw;
                }
            }

            &__contact-info {
                margin-top: 12vh;
            }
        }

        .division {
            width: 100%;
        }
    }
}

@media screen and (orientation: landscape) {
    section#contacts {
        .form-container {
            height: auto;
        }
    }
}
