section#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    // Photo by Bench Accounting on Unsplash
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
        url("../../images/table.webp") no-repeat center center/cover;

    .MuiButton-root {
        color: white;
        border-color: white;

        &:hover {
            color: skyblue;
            border-color: skyblue;
        }
    }

    .send-icon {
        margin-left: 5px;
        font-size: 1rem;
    }

    .MuiFormControl-root {
        width: 100%;
    }

    .contact-icon {
        vertical-align: sub;
    }

    .division {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        min-width: 300px;
        width: 45%;
    }

    .link-icons {
        padding-top: 0.5vw;
        & > * {
            color: white;
            margin-right: 0.5vw;
            &:hover {
                &:nth-child(1) {
                    color: rgb(56, 125, 255);
                }
                &:nth-child(2) {
                    color: rgb(193, 53, 132);
                }
                &:nth-child(3) {
                    color: rgb(56, 155, 255);
                }
                &:nth-child(4) {
                    color: rgb(255, 0, 0);
                }
            }
        }
    }

    .my-info {
        display: flex;

        &__items {
            justify-items: center;

            &--title {
                text-align: initial;
                margin-bottom: 72px;
            }

            &--content {
                max-width: 80%;
                width: fit-content;
                &--email {
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 8px;
                    margin-bottom: 16px;
                    color: rgba(0, 0, 0, 0.8);
                    letter-spacing: 1px;
                }

                &--phone {
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 16px;
                }

                &--location {
                    justify-content: flex-start;
                    display: flex;
                }
            }
        }

        &__contact-info {
            box-sizing: border-box;
            border: 1px solid #ebebeb;
            border-radius: 10px;
            background: #fff;
            position: relative;
            padding: 54px 20px 50px;
            width: 18rem;
            height: 11rem;
            margin-bottom: 2rem;
            box-shadow: 0px 20px 65px rgba(0, 0, 0, 0.3);

            &#email {
                margin-bottom: 4rem;
            }

            &--icon {
                border: 1px solid #ebebeb;
                width: 65px;
                height: 65px;
                color: red;
                line-height: 63px;
                text-align: center;
                border-radius: 100%;
                background: #fff;
                font-size: 28px;
                position: absolute;
                top: -31px;
                left: 47px;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    section#contacts {
        .form-container {
            height: auto;
        }

        .my-info {
            align-items: flex-end;
            margin-top: 8vw;

            &__items {
                &--title {
                    text-align: center;
                    margin-bottom: 4vw;
                }
            }

            &__contact-info {
                margin-top: 12vh;
            }
        }

        .division {
            width: 100%;
        }
    }
}
