section#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
        url("../../images/shapes.webp") no-repeat center center/cover;
    text-shadow: 1px 1px 10px black;

    .tile {
        margin: 15px;
        cursor: pointer;
        overflow: hidden;
        width: 20vw;
        height: 16vw;
        img {
            transition: transform 500ms ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .alice-carousel {
        width: 90%;
    }

    .sliderimg {
        width: 100%;
        height: 50vh;
        border-radius: 10px;
        object-fit: cover;
    }

    .alice-carousel__stage-item {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
}
