section#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    // Photo by Shapelined on Unsplash
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
        url("../../images/shapes.webp") no-repeat center center/cover;

    .alice-carousel {
        width: 90%;
        margin-bottom: 9vh;
    }

    .title {
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-top: 3rem;
    }

    .alice-carousel__stage-item {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .alice-carousel__prev-btn-item,
    .alice-carousel__next-btn-item {
        color: white;

        &:hover {
            color: skyblue;
        }
    }

    .alice-carousel__dots-item:hover,
    .alice-carousel__dots-item.__active {
        background-color: skyblue;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-top: 3.9rem;
        height: calc(100vh - 3.9rem);
    }

    .image-container {
        width: 100%;
        height: 50vh;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }

    .sliderimg {
        width: 100%;
        height: 65vh;
        border-radius: 6px;
        object-fit: cover;
        position: relative;
        transition: all 0.3s ease-out;
    }

    .modal {
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: 0.25s ease-out;
        z-index: 999;

        &.open {
            opacity: 1;
            pointer-events: all;
        }

        p {
            color: white;
            font-size: 2rem;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -5%);
        }

        .full-img {
            position: absolute;
            height: 70%;
            top: 13%;
            border-radius: 15px;
            left: 50%;
            transform: translate(-50%, 5%) scale(0.5);
            transition: all 0.25s ease-out;

            &.open {
                transform: translate(-50%, 5%) scale(1);
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    section#gallery {
        .alice-carousel {
            width: 90%;
            margin-bottom: 3vh;
        }
    }
}

@media only screen and (max-width: 1024px) {
    section#gallery {
        p {
            font-size: 1rem;
        }

        .modal .full-img {
            display: flex;
            max-width: 90%;
            max-height: 70%;
            width: 100%;
            top: 23%;
            height: auto;
            object-fit: cover;
            box-sizing: border-box;
        }
    }
}

@media only screen and (max-width: 450px) {
    section#gallery {
        .modal {
            p {
                font-size: 1rem;
            }

            .full-img {
                display: flex;
                width: 100%;
                height: auto;
                box-sizing: border-box;
                top: 30%;
            }
        }

        .title {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .image-container {
            height: 60vh;
        }
    }
}
