div#navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3.5rem;
    background: transparent;
    align-items: center;

    .navbar {
        display: flex;
        list-style-type: none;
        justify-content: center;
        flex: 3;

        &__item {
            &--link {
                transition: all 0.3s ease 0s;
                margin-right: 2vw;

                &:hover {
                    color: #0088a9;
                }
            }
        }
    }

    li,
    a {
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        color: white;
    }

    .border {
        position: absolute;
        border-bottom: 2px solid red;
    }

    .language-button-container {
        position: absolute;
        right: 0;
        margin-right: 2vw;
    }

    .MuiButton-root {
        color: white;
        height: 100%;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

        &:hover {
            color: #0088a9;
        }
    }

    .menuIcon {
        margin-left: 3vw;
    }
}

.download-button {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

.MuiPaper-root {
    width: 8rem;
}

@media only screen and (max-width: 768px) {
    div#navbar {
        justify-content: space-between;

        .MuiButton-root {
            &:hover {
                color: white;
            }
        }
    }
}
