.navBar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.MuiButton-root {
    color: white !important;

    &:hover{
        color: skyblue !important;
    }
}

.MuiMenu-paper {
    top: 2.5rem !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.MuiListItemIcon-root {
    color: white !important;
}

.MuiTypography-body1{
    color: white;
}

.menuIcon {
    margin-left: 3vw;
}

@media only screen and (max-width: 768px) {
    .navBar {
        justify-content: space-between;
    }
}