div#navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3.5rem;
    background: transparent;
    align-items: center;
    justify-content: center;

    .MuiButton-root {
        color: white;
        height: 100%;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

        &:hover {
            color: skyblue;
        }
    }

    .MuiListItem-button:hover {
        color: skyblue;
    }

    .MuiListItemIcon-root {
        color: white;
    }

    .menuIcon {
        margin-left: 3vw;
    }
}

@media only screen and (max-width: 768px) {
    .navBar {
        justify-content: space-between;
    }
}
