section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    background: url("../../images/music-book-large.webp") no-repeat center center/cover;
    text-shadow: 1px 1px 10px black;

    .MuiTypography-h1 {
        padding-bottom: 1vw !important;
        align-self: center;
        font-size: 7vw;
        letter-spacing: 1rem;
    }

    .MuiTypography-h4 {
        letter-spacing: 0.5rem;
    }

    .MuiTypography-h3 {
        letter-spacing: 0.5rem;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }
}
