section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    // Photo by Sarah Dorweiler on Unsplash
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
        url("../../images/plant.webp") no-repeat center center/cover;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
        url("../../images/plant.jpg") no-repeat center center/cover;
    text-shadow: 1px 1px 1px black;

    .MuiTypography-h1 {
        padding-bottom: 1vw !important;
        align-self: center;
        letter-spacing: 1rem;
    }

    .MuiTypography-h4 {
        letter-spacing: 0.5rem;
    }

    .MuiTypography-h3 {
        letter-spacing: 0.5rem;
    }

    .photo-credits {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 12px;
        margin-bottom: 5px;
        margin-left: 5px;
        a {
            text-decoration: none;
            color: skyblue;
        }
    }
}

@media only screen and (max-width: 960px) {
    section#home {
        .MuiTypography-h1 {
            margin-bottom: 3vw;
            margin-top: 2vw;
            align-self: center;
            letter-spacing: 0.5rem;
        }

        .MuiTypography-h3 {
            letter-spacing: 0.1rem;
        }

        .MuiTypography-h4 {
            letter-spacing: 0.2rem;
            text-align: center;
        }
    }
}
