section#aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.8))), url("../../images/book.webp") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("../../images/book.webp") no-repeat center center/cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.8))), url("../../images/book.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("../../images/book.jpg") no-repeat center center/cover;
}

section#aboutMe .appbar-root {
  background-color: transparent;
  margin-top: 2vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 70%;
}

section#aboutMe .bold {
  font-weight: bold;
}

section#aboutMe .download-button:hover {
  color: #0088a9;
}

section#aboutMe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  overflow-y: auto;
  margin-top: 3.9rem;
  width: 100%;
  height: calc(100vh - 3.9rem);
}

section#aboutMe .container .image-container {
  height: -webkit-fill-available;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
}

section#aboutMe .container .image {
  width: 75%;
  max-width: 90%;
  height: auto;
  max-height: 85%;
  border-radius: 2%;
  margin-top: 5px;
  -webkit-box-shadow: 0px 20px 65px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 20px 65px rgba(0, 0, 0, 0.3);
}

section#aboutMe .container .grid-container {
  padding-left: 5vw;
}

section#aboutMe .container a {
  text-decoration: none;
}

section#aboutMe .container .description {
  text-align: justify;
  height: -webkit-fill-available;
  padding-left: 5vw;
}

section#aboutMe .container .PrivateTabIndicator-colorSecondary-24 {
  background-color: #30aadc;
}

section#aboutMe .title {
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

section#aboutMe .p {
  margin-right: 7rem;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  color: white !important;
}

@media only screen and (max-width: 1400px) {
  section#aboutMe .appbar-root {
    max-width: 80%;
    margin-top: 3rem;
  }
  section#aboutMe .container .image {
    width: 70vw;
    height: auto;
  }
}

@media only screen and (max-width: 960px) {
  section#aboutMe .appbar-root {
    max-width: 85%;
    margin-top: 3rem;
    display: inline-block;
  }
  section#aboutMe .container .title-container {
    text-align: center;
  }
  section#aboutMe .container .image {
    width: 50vw;
    height: auto;
  }
  section#aboutMe .container .description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: auto;
    padding-left: 0;
  }
  section#aboutMe .container .grid-container {
    padding-left: 0;
  }
  section#aboutMe .container .p {
    margin: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  section#aboutMe .title {
    margin-top: 2rem;
  }
  section#aboutMe .container .image {
    margin-top: 4rem;
    width: 60vw;
    height: auto;
  }
  section#aboutMe .container .image-container {
    height: auto;
  }
}

@media only screen and (max-width: 450px) {
  .MuiTab-fullWidth {
    font-size: 12px;
  }
  section#aboutMe .appbar-root {
    max-width: 90%;
    margin-top: 3rem;
    display: inline-block;
  }
  section#aboutMe .container .description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: auto;
    padding-left: 0;
  }
  section#aboutMe .container .image {
    width: 70vw;
    height: 45vh;
    margin-bottom: 2rem;
  }
}

@media screen and (orientation: landscape) {
  section#aboutMe .title {
    margin-top: 0rem;
  }
  section#aboutMe .container .image {
    width: 60vw;
    height: auto;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=aboutMe.css.map */