section#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    background: url("../../images/headphones-large.webp") no-repeat center center/cover;

    .title {
        color: #e0e0e0;
    }

    .p {
        margin-right: 2vw;
        color: #e0e0e0 !important;
    }

    .main-paper {
        height: 70vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);

        &__content {
            height: 70vh;
            max-height: 70vh;
        }

        .icons {
            & > * {
                color: white;
                margin-right: 2px;
                &:hover {
                    &:nth-child(1) {
                        color: rgb(56, 125, 255);
                    }
                    &:nth-child(2) {
                        color: rgb(193, 53, 132);
                    }
                    &:nth-child(3) {
                        color: rgb(56, 155, 255);
                    }
                    &:nth-child(4) {
                        color: rgb(255, 0, 0);
                    }
                }
            }
        }

        .description {
            text-align: justify;
        }

        .border {
            border-left: 1px solid rgba(204, 204, 204, 0.3);
            margin-left: 3rem;
            margin-right: 3rem;
        }

        &__image {
            max-width: 50%;
            border-radius: 4%;
        }
    }
    .MuiButton-root {
        color: white;
        border-color: white;

        &:hover {
            color: skyblue;
            border-color: skyblue;
        }
    }
}

@media only screen and (max-width: 768px) {
    section#aboutMe {
        height: 50vh;

        .main-paper {
            height: 35vh;
            max-height: 35vh;
            &__content {
                height: 25vh;
                max-height: 25vh;
            }

            &__image {
                max-width: 70%;
            }

            .description {
                text-align: left;
            }
        }
    }
    .MuiTypography-h4 {
        font-size: 4vw !important;
        text-align: justify !important;
    }

    .MuiTypography-h6 {
        font-size: 2.5vw !important;
    }
}
