section#video {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
        url("../../images/videoBackground.webp") no-repeat center center/cover;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
        url("../../images/videoBackground.jpg") no-repeat center center/cover;

    .title {
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-top: 2.5rem;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    }

    .description {
        text-align: center;
        font-weight: bold;
        margin-top: 1rem;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }

    .grid-container {
        padding: 3vw;
        align-self: center;
        height: 85%;
    }

    .video-container {
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .video-player {
        height: 90% !important;
        width: 70% !important;
    }

    .container {
        margin-top: 3.9rem;
        height: calc(100vh - 3.9rem);
        overflow-y: hidden;
        width: 100%;
    }
}

@media only screen and (max-width: 1600px) {
    section#video {
        .video-container {
            margin-bottom: 0;
            margin-top: 0;
        }

        .video-player {
            width: 70% !important;
        }

        .title {
            margin-top: 1rem;
        }
    }
}

@media only screen and (max-width: 960px) {
    section#video {
        .container {
            overflow-y: auto;
        }
        .video-player {
            width: 100% !important;
        }

        .grid-container {
            align-self: end;
        }

        .video-container {
            margin-bottom: 1rem;
            margin-top: 4rem;
        }
    }
}

@media only screen and (max-width: 450px) {
    section#video {
        .video-container {
            .video-player {
                width: 80% !important;
                height: 80% !important;
            }
        }
    }
}

@media screen and (orientation: landscape) {
    section#video {
        .container {
            overflow-y: scroll;
        }

        .video-player {
            width: 100%;
            height: 300px;
        }

        .video-container {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }
}
