.MuiCardHeader-root {
    padding: 10px !important;
}

.MuiTypography-h5 {
    font-size: 1rem !important;
    font-weight: bold !important;
    color: white !important;
}

.MuiTypography-body1 {
    font-size: 0.7rem !important;
    color: white !important;
}

.MuiPaper-root {
    color: white !important;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6) !important;
}
