.MuiCardHeader-root {
    padding: 10px;
}

.MuiTypography-h5 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.MuiTypography-body1 {
    font-size: 0.7rem;
    color: white;
}

.MuiPaper-root {
    color: white;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
}

.makeStyles-media-30 {
    padding-top: 65%;
}
